---
title: Welcome to CliqueMe
---

<div id="progress" data-0="width:0%;background:hsl(200, 100%, 50%);" data-end="width:100%;background:hsl(920, 100%, 50%);"></div>

<!-- Viewport at 1108px -->

<div id="instructions">
	<h1>Scroll down</h1>
</div>

<!-- browser -->

<div id="browser" data-0="left:100%;" data-500="opacity:1; left:25%;" data-4100="" data-4500="opacity:0;">
	<%= image_tag 'browser.png' %>
</div>

<div id="easing_wrapper" 
data-0="display:none;" 
data-4000="display:block;" 
data-4300="background:rgba(0, 0, 0, 0);color[swing]:rgb(0,0,0);" 
data-5300="background:rgba(0,0,0,1);color:rgb(255,255,255);" 
data-7400="top:0%;" 
data-12000="top:-100%;">

	<!-- profile -->

	<div id="cliq-profile" 
	data-4300="left:100%" 
	data-5000="left:25%;" 
	data-6400="opacity:1" 
	data-6600="opacity:0"> 
		<%= image_tag 'cliq-profile.png' %>
	</div>


	<!-- suggested cliques --> 

	<div id="cliq-suggested" 
	data-6500="bottom:15%;left:25%;opacity:0;" 
	data-6800="opacity:1;"
	data-7600=""
	data-7800="opacity:0;">
		<%= image_tag 'cliq-suggested.png' %>
		<div id="sashimi" data-6700="opacity:0;"
		data-6800="opacity:1;"
		data-7600=""
		data-7800="opacity:0;">
			<%= image_tag 'cliq-suggested_sashimi.png' %>
		</div>
	</div>

	<!-- my clique -->

	<div id="cliq-clique" 
	data-7700="left:25%;opacity:0" 
	data-8000="opacity:1;"
	data-8500=""
	data-9000="opacity:0;">
		<%= image_tag 'cliq-clique.png' %>
	</div>

	<div class="hand" id="hand-red"
	data-5400="bottom:40%;left:60%;opacity:0;"
	data-5500="bottom:40%;left:60%;opacity:1;"
	data-5600=""
	data-5800="bottom:8%;left:35%;"
	data-5900="transform:scale(1)"
	data-6100="transform:scale(.70)"
	data-6300="transform:scale(1)"
	data-6900="bottom:46%;"
	data-6900="transform:scale(1)"
	data-7100="transform:scale(.70)"
	data-7300="transform:scale(1)"
	data-7500=""
	data-7800="bottom:5%;left:27%"
	data-7900="transform:scale(1)"
	data-8100="transform:scale(.70)"
	data-8300="transform:scale(1)"
	data-8500="opacity:0;">
		<%= image_tag 'hand-red.png' %>
	</div>
</div> <!-- end easing wrapper -->

<!-- newsfeed -->

		<div class="drop" data-12000="left:15%;bottom:100%;" data-14000="bottom:-50%;">
			<span class="cliqueme-time"><i class="cliqueme-icon cliqueme-icon-time"></i><span>6 days ago</span></span>
			<p>
				<i class="cliqueme-icon cliqueme-icon-group"></i>
				You've been accepted into the <span class="highlight">The Gustatory Tales</span> clique.
			</p>
		</div>
		<div class="drop" data-12000="left:25%;bottom[quadratic]:100%;" data-15000="bottom:-30%;">
			<span class="cliqueme-time"><i class="cliqueme-icon cliqueme-icon-time"></i><span>1 week ago</span></span>
			<p>
				<i class="cliqueme-icon cliqueme-icon-user"></i>
				<span class="highlight">rnikitin</span> has requested to be your friend
			</p>
		</div>
		<div class="drop" data-12000="left:35%;bottom[cubic]:100%;" data-15000="bottom:-30%;">			
			<span class="cliqueme-time"><i class="cliqueme-icon cliqueme-icon-time"></i><span>2 hours ago</span></span>
			<p>
				<i class="cliqueme-icon cliqueme-icon-thumbs-up"></i>
				<span class="highlight">blevel</span> upvoted your message "Come mid-day for the best deals..." in "Kimchi Tacos" on site <span class="highlight">Food Trucks of LA</span>.
			</p>
		</div>
		<div class="drop" data-12000="left:45%;bottom[swing]:100%;" data-15000="bottom:-40%;">			<span class="cliqueme-time"><i class="cliqueme-icon cliqueme-icon-time"></i><span>yesterday</span></span>
			<p>
				<i class="cliqueme-icon cliqueme-icon-thumbs-up"></i>
				<span class="highlight">rnikitin</span> upvoted your message "Heck, yes!" in "Cheap Eats" on site <span class="highlight">Culinary Adventures</span>.
			</p></div>
		<div class="drop" data-12000="left:5%;bottom[linear]:100%;" data-15000="bottom:-30%;">			
			<span class="cliqueme-time"><i class="cliqueme-icon cliqueme-icon-time"></i><span>5 minutes ago</span></span>
			<p>
				<i class="cliqueme-icon cliqueme-icon-envelope"></i>
				<span class="highlight">hwang</span> has sent you a pm
			</p></div>
		<div class="drop" data-12000="left:2%;bottom[inverted]:100%;" data-15000="bottom:-30%;">						<span class="cliqueme-time"><i class="cliqueme-icon cliqueme-icon-time"></i><span>2 hours ago</span></span><p>
				<i class="cliqueme-icon cliqueme-icon-bookmark"></i>
				You bookmarked <span class="highlight">Ooh la la teriyaki!</span>
			</p></div>
		<div class="drop" data-14000="left:65%;bottom[inverted]:100%;" data-15000="bottom:-30%;">			
			<span class="cliqueme-time"><i class="cliqueme-icon cliqueme-icon-time"></i><span>half an hour ago</span></span>
			<p>
				<i class="cliqueme-icon cliqueme-icon-thumbs-up"></i>
				<span class="highlight">hwang</span> upvoted your message "Bacon-wrapped Corndogs"
			</p></div>
		<div class="drop" data-12000="left:22%;bottom[bounce]:100%;" data-15000="bottom:-30%;">			
			<span class="cliqueme-time"><i class="cliqueme-icon cliqueme-icon-time"></i><span>a second ago</span></span>
			<p>
				<i class="cliqueme-icon cliqueme-icon-envelope"></i>
				<span class="highlight">hashtagerinl</span> has sent you a pm
			</p></div>

<div id="cliq-newsfeed" 
data-8900="left:25%;opacity:0" 
data-10600=""
data-12000="opacity:1"
data-12000="left:50%;"
data-12700=""
data-13900="left:60%;"
data-23000=""
data-23001="opacity:0">
	<%= image_tag 'cliq-newsfeed.png' %>
</div>

<!-- public chat -->

<div id="cliq-public_chat" 
data-15100="left:60%;opacity:0" 
data-15400="left:26%;opacity:1"
data-23000=""
data-23001="opacity:0">
	<%= image_tag 'cliq-public_chat.png' %>
	<div id="chat_animate" data-16000="left:2px;opacity:0" data-16001="left:2px;opacity:1">
		<%= image_tag 'cliq-public_chat.gif' %>
	</div>
</div>


<!-- private chat -->

<div id="cliq-private_chat" 
data-23000="left:60%;opacity:0"
data-23401="left:26%;opacity:1"
data-28000=""
data-28400="opacity:0">
	<%= image_tag 'cliq-private_chat.png' %>
	<div id="chat_animate" data-24000="left:48px;opacity:0" data-24001="left:48px;opacity:1">
		<%= image_tag 'cliq-private_chat.gif' %>
	</div>
</div>

<!-- leaderboard -->

<div id="cliq-leaderboard" data-28000="left:100%" data-28600="left:25%;" data-37800="opacity:1" data-39000="opacity:0">
	<%= image_tag 'cliq-leaderboard.png' %>
</div>

<div id="cliq-leaderboard_flourish" data-29000="opacity:0" data-35000="left:60%;opacity:1"
data-37000=""
data-37400="transform:scale(1)" 
data-37600="transform:scale(.70)" 
data-37800="transform:scale(1)"
data-39000="transform:scale(50);opacity:0">
	<%= image_tag 'cliq-leaderboard_flourish.png' %>
</div>

<div id="cliqueme-logo" data-39000="opacity:0" data-39005="opacity:1">
	<%= image_tag 'cliqueme-logo.png' %>
</div>


<div class="hand" id="hand-white" data-0="bottom:-50%;" 
data-2300="bottom:40%;left:60%;opacity:1" 
data-3300="transform:scale(1)" 
data-3500="transform:scale(.70)" 
data-3700="transform:scale(1)"
data-3900=""
data-5300="opacity:0;"
data-19499=""
data-19500="opacity:1;"
data-19600="bottom:14%;left:65%"
data-22400="transform:scale(1)" 
data-22600="transform:scale(.70)" 
data-22800="transform:scale(1)"
data-26600=""
data-26800="bottom:3%;left:70%;"
data-27000=""
data-27400="transform:scale(1)" 
data-27600="transform:scale(.70)" 
data-27800="transform:scale(1)"
data-33000=""
data-36000="bottom:40%;"
data-37000=""
data-37400="transform:scale(1)" 
data-37600="transform:scale(.70)" 
data-37800="transform:scale(1)"
data-39000=""
data-39300="transform:rotate(0deg);transform-origin:0 0;"
data-39500="transform:rotate(100deg);left:30%;bottom:55%;">
	<%= image_tag 'hand-white.png' %>
</div>


<div id="tom-hanks" data-39405="left:100%" data-39605="left:60%;top:15%;transform:rotate(0deg);transform-origin:0 0;" data-39705="left:65%;top:15%;transform:rotate(25deg);transform-origin:0 0;">
	<%= image_tag 'tom-hanks.png' %>
</div>

<div id="egg-sandwhich" data-43605="left:0%;top:100%" data-43705="left:30%;top:45%">
	<%= image_tag 'egg-sandwhich.gif' %>
</div>

<div id="scrollbar" data-0="top:0%;margin-top:2px;" data-end="top:100%;margin-top:-52px;"></div>