---
title: Welcome to CliqueMe
---

<div id="progress" data-0="width:0%;background:hsl(200, 100%, 50%);" data-end="width:100%;background:hsl(920, 100%, 50%);"></div>

<!-- Viewport at 1108px -->

<!-- browser -->

<div id="browser" data-0="left:100%;" data-500="opacity:1; left:25%;" data-4100="" data-4500="opacity:0;">
	<%= image_tag 'browser.png' %>
</div>

<div class="hand" id="hand-white" data-0="bottom:-50%;" 
data-2300="bottom:40%;left:60%;opacity:1" 
data-3300="transform:scale(1)" 
data-3500="transform:scale(.70)" 
data-3700="transform:scale(1)"
data-3900=""
data-5300="opacity:0;">
	<%= image_tag 'hand-white.png' %>
</div>

<div class="hand" id="hand-red"
data-5400="bottom:40%;left:60%;opacity:0;"
data-5500="bottom:40%;left:60%;opacity:1;"
data-5600=""
data-5800="bottom:8%;left:35%;"
data-5900="transform:scale(1)"
data-6100="transform:scale(.70)"
data-6300="transform:scale(1)"
data-6900="bottom:46%;"
data-6900="transform:scale(1)"
data-7100="transform:scale(.70)"
data-7300="transform:scale(1)">
	<%= image_tag 'hand-red.png' %>
</div>

<!-- profile -->

<div id="easing_wrapper" 
data-0="display:none;" 
data-4000="display:block;" 
data-4300="background:rgba(0, 0, 0, 0);color[swing]:rgb(0,0,0);" 
data-5300="background:rgba(0,0,0,1);color:rgb(255,255,255);" 
data-7400="top:0%;" 
data-8000="top:-100%;">
	<div id="cliq-profile" data-4300="left:100%" data-5000="left:25%;" data-6400="opacity:1" data-6600="opacity:0"> 
		<%= image_tag 'cliq-profile.png' %>
	</div>
</div>

<!-- suggested cliques --> 

<div id="cliq-suggested" 
data-6500="left:25%;opacity:0;" 
data-6800="opacity:1;">
	<%= image_tag 'cliq-suggested.png' %>
</div>

<!-- my clique 

<div id="cliq-clique" data-2000="left:100%" data-3000="left:25%;">
	<%= image_tag 'cliq-clique.png' %>
</div>

<!-- newsfeed 

<div id="cliq-newsfeed" data-3000="left:100%" data-4000="left:25%;">
	<%= image_tag 'cliq-newsfeed.png' %>
</div>

<!-- public chat 

<div id="cliq-public_chat" data-4000="left:100%" data-5000="left:25%;">
	<%= image_tag 'cliq-public_chat.png' %>
</div>

<!-- private chat 

<div id="cliq-private_chat" data-5000="left:100%" data-6000="left:25%;">
	<%= image_tag 'cliq-private_chat.png' %>
</div>

<!-- leaderboard 

<div id="cliq-leaderboard" data-6000="left:100%" data-7000="left:25%;">
	<%= image_tag 'cliq-leaderboard.png' %>
</div>

-->

<div id="scrollbar" data-0="top:0%;margin-top:2px;" data-end="top:100%;margin-top:-52px;"></div>